/* 
JavaScript Project

Author : Dipta Saha
Email : diptasaha.lpu.cse@gmail.com
Github : https://github.com/diptasahacse
Website : https://diptasaha.com/

*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;

    position: relative;
}
#container{
    padding: 3px;
    overflow: hidden;
    background: linear-gradient(to right, red, purple);
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    
   
}
.body-container{
    background-color: #7c7c7c8c;
    text-align: center;

}
#buttonarea{
    padding: 30px;
    
}

p{
    font-size: 30px;
    margin-bottom: 15px;
    color: white;
}
.btn-grad {background-image: linear-gradient(to right, #B00243 0%, #A000CD 51%, #FC005F 100%)}
.btn-grad {
   margin: 15px;
   padding: 10px 20px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px rgb(188, 107, 107);
   border-radius: 10px;
   border: none;
   font-size: 12px;
 }

 .btn-grad:hover {
   background-position: right center; 
   cursor: pointer;
 }
.colorcode{
    margin-left: 22px;
    padding: 10px;
    letter-spacing: 2px;
    position: relative;
    font-size: 20px;
    border: 2px solid;
    border-radius: 10px;
    display: inline-block;
    
}
.colorcode::before{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border-radius: 50%;
    left: -25px;
    top: 10px;

}
/* Responsive */

@media only screen and (max-width: 940px) {
    
  }


